.cv-close {
  visibility: hidden;
  display: block;
  position: fixed;
  top: 100px;
  left: 70px;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0;
  border: none;
  opacity: 0;
  transition: opacity 0.4s ease;
  cursor: pointer;
  z-index: 10000;
  outline: none;

  &--active {
    visibility: visible;
    opacity: 1;
  }

  &:hover {
    .cv-close__icon {
      fill: #5d6874
    }
  }

  @media (max-width: 1655px) {
    top: 40px;
    left: 40px;
  }

  @media (max-width: 1365px) {
    top: 30px;
    left: 30px;
  }

  @media (max-width: 413px) {
    top: 25px;
    left: 25px;
  }
}

.cv-close__icon {
  fill: rgba(227, 227, 227, 0.9);
  transition: fill 0.3s ease;

  @media (max-width: 1365px) {
    width: 35px;
    height: 35px;
  }

  @media (max-width: 1023px) {
    width: 25px;
    height: 25px;
  }
}