.cv {
  position: relative;
  visibility: hidden;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  opacity: 0;
  transform: translate(0, 20px);
  transition:
    opacity 0.3s ease,
    transform 0.4s ease,
    visibility 0.2s ease;
  z-index: 900;

  &--visible {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
  }
}