.education {
  position: relative;
  padding: 30px 0;

  @media (max-width: 1023px) {
    padding: 20px 0;
  }
}

.education__layout {
  display: block;
  position: absolute;
  bottom: 0;
  left: -65px;
  text-transform: uppercase;
  color: rgba(227, 227, 227, 0.4);
  font-size: 200px;
  font-weight: 900;
  line-height: 1;
  z-index: 0;

  @media (max-width: 1023px) {
    font-size: 160px;
  }

  @media (max-width: 767px) {
    left: -20px;
    font-size: 100px;
  }
}

.education__wrapper {
  width: 100%;
  max-width: 1160px;
  margin: auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.education__title {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 40px;
  padding: 8px 10px;
  color: #ffffff;
  background-image: linear-gradient(135deg, rgba(93, 104, 116, 0.67) 0%, #5d6874 100%);
  font-weight: 300;
  font-size: 22px;
  line-height: 1;
}

.education__lines {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (max-width: 767px) {
    flex-wrap: wrap;
  }
}

.education__line {
  position: relative;
  width: 28%;
  padding: 50px 20px 20px 20px;
  border-left: 2px solid $color-grey-light;
  box-sizing: border-box;

  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.education__line-title {
  position: absolute;
  top: 0;
  left: 20px;
  text-transform: uppercase;
  color: $color-grey-light;
  font-size: 24px;
  font-weight: 300;

  @media (max-width: 1023px) {
    font-size: 22px;
  }
}

.education__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.education__item {
  position: relative;
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: -25px;
    width: 8px;
    height: 8px;
    background-color: $color-grey-light;
  }

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.education__caption {
  margin: 0 0 10px;
  color: $color-grey;
  font-size: 18px;
  line-height: 1;
}

.education__description {
  margin: 0 0 0;
  color: $color-grey;
  font-weight: 300;
}

.education__years {
  color: $color-grey;
  font-size: 15px;
  font-weight: 300;
}