.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  opacity: 1;
  transition: all 0.6s ease;


  &--translated {
    transform: translate(0, -20%);
    opacity: 0;
  }
}

.hero__canvas {
  position: absolute;
  top: calc(50% - 91px);
  left: 117px;
  z-index: 1;

  @media (max-width: 1300px) {
    left: 11px
  }

  @media (max-width: 1100px) {
    display: none;
  }
}

.hero__title {
  position: relative;
  margin: 0 0 0 156px;
  padding: 0;
  color: #fff;
  font-size: 120px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  line-height: 1;
  z-index: 2;
  pointer-events: none;


  span {
    color: $color-grey-light;

    @supports (-webkit-background-clip: text) {
      background-image: linear-gradient(135deg, rgba(227, 227, 227, 0.9) 0%, #5d6874 100%);
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }

    @media (max-width: 1100px) {
      -webkit-background-clip: border-box;
      background-image: none;
    }
  }

  @media (max-width: 1300px) {
    margin-left: 50px;
  }

  @media (max-width: 1100px) {
    width: 80%;
    color: rgba(227, 227, 227, 0.8);
    font-size: 100px;
    line-height: 1.2;

    @supports (-webkit-background-clip: text) {
      background-image: linear-gradient(135deg, rgba(227, 227, 227, 0.9) 0%, #5d6874 100%);
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }
  }

  @media (max-width: 767px) {
    width: 100%;
    margin-left: 0;
    padding: 0 15px;
    font-size: 76px;
    box-sizing: border-box;
  }

  @media (max-width: 413px) {
    font-size: 58px;
  }
}

.hero__button {
  -webkit-appearance: none;
  display: block;
  position: fixed;
  top: 342px;
  right: -77px;
  margin: 0;
  padding: 10px 17px 12px;
  color: #5d6874;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 1;
  border: none;
  border-left: 1px solid #5d6874;
  cursor: pointer;
  transform: rotate(90deg);
  z-index: 1000;
  outline: none;

  @media (max-width: 1280px) {
    top: 33px;
    right: 90px;
    padding: 10px 20px 12px;
    border-left: none;
    border-right: 1px solid #5d6874;
    transform: rotate(0);
    font-size: 28px;
  }

  @media (max-width: 767px) {
    top: 15px;
    right: 65px;
    padding: 8px 15px 9px;
    font-size: 24px;
  }

  @media (max-width: 413px) {
    top: 13px;
    right: 62px;
    padding: 8px 15px 9px;
    font-size: 21px;
  }
}