.jobs {
  position: relative;
  padding: 40px 0;

  @media (max-width: 1023px) {
    padding: 20px 0;
  }
}

.jobs__layout {
  display: block;
  position: absolute;
  bottom: -200px;
  right: -60px;
  text-transform: uppercase;
  color: rgba(227, 227, 227, 0.4);
  font-size: 300px;
  font-weight: 900;
  line-height: 1;
  z-index: 0;

  @media (max-width: 1023px) {
    right: -80px;
    font-size: 230px;
  }

  @media (max-width: 767px) {
    right: auto;
    left: -20px;
    font-size: 150px;
  }
}

.jobs__wrapper {
  position: relative;
  width: 100%;
  max-width: 1160px;
  margin: auto;
  padding: 0 30px;
  box-sizing: border-box;
  z-index: 1;
}

.jobs__title {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 40px;
  padding: 8px 10px;
  color: $color-white;
  background-image: linear-gradient(135deg, rgba(93, 104, 116, 0.67) 0%, #5d6874 100%);
  font-weight: 300;
  font-size: 22px;
  line-height: 1;
}

.jobs__list {
  list-style-type: none;
  margin: 0;
  padding: 15px 0 15px 30px;
  border-left: 2px solid $color-grey;

  @media (max-width: 767px) {
    padding-left: 20px;
  }
}

.jobs__item {
  position: relative;
  margin-bottom: 40px;
  padding-left: 125px;
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: -35px;
    width: 8px;
    height: 8px;
    background-color: $color-grey;

    @media (max-width: 767px) {
      left: -25px;
    }
  }

  @media (max-width: 680px) {
    padding-left: 0;
  }
}

.jobs__years {
  position: absolute;
  top: 2px;
  left: 0;
  color: $color-grey-light;
  font-size: 18px;
  font-weight: 900;
  line-height: 1;

  @media (max-width: 680px) {
    position: relative;
    top: auto;
    left: auto;
  }
}

.jobs__caption {
  margin: 0 0 5px;
  color: $color-grey;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}

.jobs__description {
  margin: 0;
  color: $color-grey;
  font-weight: 300;
  line-height: 1.1;
}