.skills {
  position: relative;
  padding: 60px 0 30px;

  @media (max-width: 1023px) {
    padding: 40px 0 20px;
  }
}

.skills__layout {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  color: rgba(227, 227, 227, 0.3);
  font-size: 180px;
  font-weight: 900;
  line-height: 1;
  z-index: 0;

  span {
    display: block;
    transform-origin: 0 0;
    transform: rotate(90deg) translate(0, -400px);

    @media (max-width: 1160px) {
      transform: rotate(90deg) translate(0, -600px);
    }
  }
}

.skills__wrapper {
  position: relative;
  width: 100%;
  max-width: 1160px;
  margin: auto;
  padding: 0 30px;
  box-sizing: border-box;
  z-index: 1;
}

.skills__content {
  display: flex;
  padding-top: 30px;
}

.skills__title {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 40px;
  padding: 8px 10px;
  color: $color-white;
  background-image: linear-gradient(135deg, rgba(93, 104, 116, 0.67) 0%, #5d6874 100%);
  font-weight: 300;
  font-size: 22px;
  line-height: 1;
}

.skills__container {

  &--left {
    width: 320px;
    flex-shrink: 0;

    @media (max-width: 1023px) {
      width: 220px;
    }

    @media (max-width: 800px) {
      width: 190px;
    }
  }

  &--right {
    width: calc(80% - 320px);
    padding: 0 0 0 100px;

    @media (max-width: 1023px) {
      width: calc(86% - 220px);
      padding: 0 0 0 60px;
    }

    @media (max-width: 800px) {
      width: calc(90% - 190px);
      padding: 0 0 0 50px;
    }
  }
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills__item {
  width: 44%;
  margin-bottom: 70px;
  box-sizing: border-box;

  &:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}