.introduction {
  position: relative;
  padding: 90px 0 30px;
  color: $color-grey;
}

.introduction__wrapper {
  display: flex;
  width: 100%;
  max-width: 1160px;
  margin: auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.introduction__photo {
  position: relative;
  width: 320px;
  margin: 0;
  padding: 0
}

.introduction__image {
  width: 320px;
}

.introduction__about {
  position: relative;
  top: -5px;
  flex-grow: 1;
  padding-top: 130px;
  padding-left: 100px;
  box-sizing: border-box;
  z-index: 1;
}

.introduction__name {
  position: absolute;
  top: 5px;
  left: -105px;
  width: 180%;
  margin: 0 0 3px;
  color: $color-grey-light;
  font-size: 120px;
  font-weight: 900;
  line-height: 1;
  z-index: 1;
  opacity: 0.7;
}

.introduction__position {
  position: absolute;
  top: 132px;
  right: 0;
  color: $color-grey;
  font-size: 36px;
  font-weight: 300;
  z-index: 2;
}

.introduction__summary {
  padding-top: 15px;
  font-size: 18px;
  line-height: 1;

  td {
    padding: 6px 10px;
    font-weight: 300;

    &:first-child {
      width: 30%;
      font-weight: 700;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}